In [21]:
import datetime as dt
import pytz
import csv
import pandas as pd

In [86]:
######
## FROM 10am - 6am UTC and >6am to <10am UTC
#

filename = 'MC230620am.txt'
dayutc = dt.datetime(2023,6,20, tzinfo=pytz.utc)

with open(filename) as f:
    lines = f.readlines()

data = []

for line in lines:
    a = line.strip('\n')
    data.append(a.split(' '))

col1 = []
col2 = []
col3 = []
for ele in data:
    timestamp = dt.datetime.strptime(ele[0],'%Y/%m/%d-%H:%M:%S')
    minutes = (timestamp.astimezone(pytz.timezone('Europe/Berlin'))-dayutc).total_seconds()/60
    col1.append(minutes)
    col2.append(float(ele[1]))
    col3.append(int(ele[-1]))
    


df1 = pd.DataFrame(list(zip(*[col1, col2, col3]))).add_prefix('Col')
df1.columns = ['Time', 'NO2', 'Flag']
df1.to_csv('2023-06-20.COR_CEAS.am.dat', index=False,header=True)

In [79]:
filename = 'MCtemp.txt'
dayutc = dt.datetime(2023,6,19, tzinfo=pytz.utc)

with open(filename) as f:
    lines = f.readlines()

data = []

for line in lines:
    a = line.strip('\n')
    data.append(a.split(' '))

col1 = []
col2 = []
col3 = []
for ele in data:
    timestamp = dt.datetime.strptime(ele[0],'%Y/%m/%d-%H:%M:%S')
    minutes = (timestamp.astimezone(pytz.timezone('Europe/Berlin'))-dayutc).total_seconds()/60
    col1.append(minutes)
    col2.append(float(ele[1]))
    col3.append(int(ele[-1]))
    


df2 = pd.DataFrame(list(zip(*[col1, col2, col3]))).add_prefix('Col')
df2.columns = ['Time', 'NO2', 'Flag']

#df2.to_csv('file.csv', index=False,header=True)

In [83]:
df_merged = pd.concat([df1, df2], ignore_index=True, sort=False)
df_merged.to_csv('2023-06-19.COR_CEAS.pm.dat', index=False,header=False)
#df_sorted = df_merged.sort_values(by='Time')
#df_sorted.to_csv('2023-06-18.COR_CEAS.test.dat', index=False,header=True)
#print(df_merged,df_sorted)

In [2]:
print(dt.datetime.now(),dt.datetime.utcnow())

2023-06-18 17:48:01.806159 2023-06-18 15:48:01.806159

In [19]:
day = dt.datetime(2023,6,18)
dayutc = dt.datetime(2023,6,18, tzinfo=pytz.utc)
timestamp = dt.datetime.strptime('2023/06/17-12:00:00','%Y/%m/%d-%H:%M:%S')
print(timestamp)

2023-06-17 12:00:00

In [20]:
print((timestamp-day).total_seconds()/60)
print((timestamp.astimezone(pytz.timezone('Europe/Berlin'))-dayutc).total_seconds()/60)

-720.0
-840.0

In [18]:
dayutc.astimezone(pytz.timezone('Europe/Berlin'))

datetime.datetime(2023, 6, 18, 2, 0, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>)

In [84]:
df_inv =df_merged.fillna(int(-999))
df_inv.NO2[df_merged.NO2==0]=-999
df_inv.to_csv('2023-06-19.COR_CEAS.pm.dat', index=False,header=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10172\1655540269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inv.NO2[df_merged.NO2==0]=-999

In [62]:
df1a.to_csv('2023-06-18.COR_CEAS.test.dat', index=False,header=True)

In [70]:
testdf=pd.read_csv('2023-06-18.COR_CEAS.am.dat')
testdf[testdf.NO2==int(-999)]

          Time    NO2  Flag
4  -575.050000 -999.0     0
10 -569.250000 -999.0     0
17 -568.816667 -999.0     0
18 -568.766667 -999.0     0
19 -568.466667 -999.0     0
20 -568.416667 -999.0     0
21 -568.366667 -999.0     0
23 -568.250000 -999.0     0
25 -568.150000 -999.0     0
26 -568.100000 -999.0     0
33 -529.250000 -999.0     0
34 -529.200000 -999.0     0
35 -529.150000 -999.0     0
36 -529.083333 -999.0     0
41 -528.583333 -999.0     0
43 -528.466667 -999.0     0
46 -528.300000 -999.0     0
47 -528.250000 -999.0     0

In [88]:
df_inv =df1.fillna(int(-999))
df_inv.NO2[df_inv.NO2==0]=-999
df_inv.to_csv('2023-06-20.COR_CEAS.am.dat', index=False,header=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10172\2127342036.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inv.NO2[df_inv.NO2==0]=-999